<app-header></app-header>

<div class="bg-gray-100 p-4 min-h-screen">
  
  <button 
  (click)="fileInput.click()" 
  class="text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-4 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Cargar Archivo Excel
  </button>
  <input type="file" #fileInput (change)="ReadExcel($event)" style="display: none;">

  <button 
  routerLink="/tipo-cambio-banxico" 
  class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-4 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800"
>
  Ver Tipo de Cambio FIX
</button>



  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mt-2 border-collapse border border-gray-300">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            N. Registro
          </th>

          <th scope="col" class="px-6 py-3">
            PRIMER NOMBRE
          </th>

          <th scope="col" class="px-6 py-3">
            APELLIDO PATERNO
          </th>

          <th scope="col" class="px-6 py-3">
            SEGUNDO NOMBRE
          </th>
          <th scope="col" class="px-6 py-3">
            APELLIDO MATERNO
          </th>

          <th scope="col" class="px-6 py-3">
            FECHA DE NACIMIENTO
          </th>

          <th scope="col" class="px-6 py-3">
            RFC
          </th>

          <th scope="col" class="px-6 py-3">
            COLONIA O POBLACIÓN
          </th>

          <th scope="col" class="px-6 py-3">
            DELEGACIÓN O MUNICIPIO
          </th>

          <th scope="col" class="px-6 py-3">
            CIUDAD
          </th>

          <th scope="col" class="px-6 py-3">
            ESTADO
          </th>

          <th scope="col" class="px-6 py-3">
            C.P.
          </th>

          <th scope="col" class="px-6 py-3">
            DIRECCIÓN CALLE NÚMERO
          </th>

          <th scope="col" class="px-6 py-3">
            SALDO ACTUAL
          </th>

          <th scope="col" class="px-6 py-3">
            LÍMITE DE CRÉDITO
          </th>

          <th scope="col" class="px-6 py-3">
            SALDO VENCIDO
          </th>

          <th scope="col" class="px-6 py-3">
            SALDO DISPONIBLE
          </th>

          <th scope="col" class="px-6 py-3">
            TOTAL
          </th>


         
      </thead>
      <tbody>
        <tr  class="bg-white border-b "*ngFor="let i = index ; let item of ExcelData | paginate: { itemsPerPage: 5, currentPage: page }">
          
          <td class="px-3 py-3 border border-gray-300">
            {{ i + 1}}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.PRIMER_NOMBRE }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.SEGUNDO_NOMBRE }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.APELLIDO_PATERNO }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.APELLIDO_MATERNO }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.FECHA_DE_NACIMIENTO }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.RFC }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.COLONIA_O_POBLACION }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.DELEGACION_O_MUNICIPIO }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.CIUDAD }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.ESTADO }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.CP }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.DIRECCION_CALLE_NUMERO }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.SALDO_ACTUAL | currency }}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.LIMITE_DE_CREDITO |  currency}}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.SALDO_VENCIDO |  currency}}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.SALDO_DISPONIBLE |  currency}}
          </td>

          <td class="px-3 py-3 border border-gray-300">
            {{ item.TOTAL_SALDO |  currency}}
          </td>

         
        </tr>
      </tbody>
    </table>
    
  </div>
  
  <div class="mt-2 h-scren flex items-center justify-center">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>

  <div class="flex flex-col mb-2 md:flex-row md:space-x-2 space-y-2 md:space-y-0">

    <div *ngIf="maxSaldo" class="block max-w-sm p-3 bg-white border border-gray-200 rounded-lg shadow">
      <h2 class="font-semibold">Total de registros: </h2>
      <p>{{ totalRecords}}</p>
    </div>
  
    <div *ngIf="minSaldo" class="block max-w-sm p-3 bg-white border border-gray-200 rounded-lg shadow ">
      <p class="font-semibold">Persona con menor saldo actual</p>
      <p>{{ minSaldo.PRIMER_NOMBRE }} {{ minSaldo.APELLIDO_PATERNO }} {{minSaldo.APELLIDO_MATERNO}}: {{ minSaldo.SALDO_ACTUAL | currency}}</p>
    </div>
  
    <div *ngIf="maxSaldo" class="block max-w-sm p-3 bg-white border border-gray-200 rounded-lg shadow">
      <h2 class="font-semibold">Persona con mayor saldo actual</h2>
      <p>{{ maxSaldo.PRIMER_NOMBRE }} {{ maxSaldo.APELLIDO_PATERNO }} {{maxSaldo.APELLIDO_MATERNO}}: {{ maxSaldo.SALDO_ACTUAL | currency}}</p>
    </div>
  </div>
  
  <app-charts [ExcelData]="ExcelData"></app-charts>
</div>







